/Git-2.52.0-64-bit.exe
/Lunar Client - Installer.exe
/Главная_страница.png
/Домашнее задание
/Материалы_для_ученика_P.3.6.zip
/план урока.txt
/Страница_регистрации.png
/Шпаргалка. Сайт киберспортивной команды с формой регистрации.pdf