@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.section-title{
    font-size: 30px;
    font-weight: 700;
    color: #65daff;
}
.section-text{
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
    color: white;
}
body{
    background-color: #222222;
}
.menu {
    background-color: #222222;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 80px;
    line-height: 80px;
}
.logo {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.menu-items {
    float: right;
}
.menu-item {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    display: inline-block;
    transition: .3s;
}
.menu-item:hover{
    transform: scale(1.1);
    text-shadow: 0 0 10px white;
}